/* Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination span {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination span.active {
    background-color: #007bff;
    color: #fff;
  }
  